<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title or 'SRMS' }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
</head>
<body>
  <header>

    <h1>Welcome to Smart Restaurant Management System (SRMS)</h1>
    {% if session.get('username') %}
    <div class="user">Logged in as: {{ session.get('username') }}</div>
    {% endif %}
  </header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
  <footer>
    <small>&copy; UMGC Group001 Final Project October 2025</small>
  </footer>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
